/*====For mobile====*/

body{
	height:1000px;
}

.container-fluid{
	padding-left:0;
	padding-right:0;
}


/*nav header css*/
.navbar-header{
	background-color: #808080;
}

.navbar-default .navbar-brand{
	color:#000000;
	font-weight: bold;
	padding-left:30px;
}


.navbar-default .navbar-toggle .icon-bar{ 
	background-color:#ffffff; 
} 


/*collapse menu css*/
.navbar-collapse{
	background-color:#d4d4d4;
	text-align: center;
}


.navbar-collapse .navbar-nav{
	margin-top: 0;
	margin-bottom:0;
}

*{
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
}

h1{
	font-size: 175%;
}


.container-fluid .row{
	padding-left:5%;
	padding-right:5%;
}

.content{
	background-color:#B9B7A7;
	border:1px black solid;
	width:90%;
	margin:auto;
	margin-bottom:3%;
	padding:0;

}

p:nth-child(2){
	padding:3%;
	clear:right;
	line-height: 1.4;
}

.title{
	float:right;
	padding:1% 3% 1% 3%;
	border:1px solid black;
	margin-top:-1px;
	margin-right:-1px;
	font-weight: bold;
	font-size: 125%;
}


#chicken_title{
	background-color:#d59898;
}

#beef_title{
	background-color:#c14543;
	color:#ffffff;
}

#sushi_title{
	background-color:#e5d198;
}

/*For tablet and desktop*/
@media screen AND (min-width: 768px){
	.navbar-collapse{
		background-color:#808080;
	}

	.col-md-4{
		width:31.33%;
		margin:0% 1% 0% 1%;
	}

}


/**********OPTIONAL ASSIGNMENT**********/

/*====For sm devices====*/
/*@media screen AND (min-width: 768px){
	.navbar-collapse{
		background-color:grey;
	}

	.col-sm-6{
		width:48%;
		margin:0 1% 2% 1%;

	}

	.col-sm-12{
		width:98%;
		margin:0% 1% 0% 1%;
	}

}*/

/*====For md devices====*/
/*@media screen AND (min-width: 992px){
	.navbar-collapse{
		background-color:grey;
	}

	.col-md-4{
		width:31.33%;
		margin:0% 1% 0% 1%;
	}

}*/
